  <div class="contents row">
    <h3>編集する</h3>
      <%= form_for @upload,:url => {:action => 'update'}, :html => {:multipart => true} do |f| %>
        <%= f.file_field :image %><br>
          <p>コメントしろ</p>
          <%= text_field :comment, class: "hogehoge" %>
        <%= f.submit %>
      <% end %>
  </div>

