
<hr />
  <div>
    <a href='/'><input type="submit" value="Search (reload! )" class="fit" /><a>
      <div id="regions_div">
  </div>
<hr />

<section id="main" class="wrapper">
  <hr/ >
  <h2>Japans' Photos</h2>
  <hr/ >
    <div class="box alt">
      <div class="row 50% uniform">
        <% @japan.each do |upload| %>
        <div class="2u">
          <span class="image fit">
            <a href="/uploads/search/?region=JP&resolution=country" ><%= image_tag upload.image.thumb.to_s %></a>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  <hr/ >
  <h2>Indeas' Photos</h2>
  <hr/ >
    <div class="box alt">
      <div class="row 50% uniform">
        <% @india.each do |upload| %>
        <div class="2u">
          <span class="image fit">
            <a href="/uploads/search/?region=IN&resolution=country" ><%= image_tag upload.image.thumb.to_s %></a>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  <hr/ >
  <h2>Chinas' Photos</h2>
  <hr/ >
    <div class="box alt">
      <div class="row 50% uniform">
        <% @china.each do |upload| %>
        <div class="2u">
          <span class="image fit">
            <a href="/uploads/search/?region=CN&resolution=country" ><%= image_tag upload.image.thumb.to_s %></a>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  <hr/ >
  <h1>Worlds' Photos</h1>
  <hr/ >
   <div class="box alt">
    <div class="row 50% uniform">
      <%= render partial: "upload", locals: { uploads: @uploads } %>
    </div>
  </div>
</section>

</div>
