<div class="contents row">
  <div class="container">

<%= form_for @upload,:url => {:action => 'create'}, :html => {:multipart => true} do |f| %>
    <h3>
      投稿する
    </h3>
  <%= f.file_field :image %><br>
  <textarea cols="30" name="comment" placeholder="comment" rows="10"></textarea>
  <%= f.submit %>

<% end %>

 </div>
</div>