<div class="contents row">
  <div class="container">

<%= form_for(@upload) do |f| %>
  <%= f.autocomplete_field :comment, autocomplete_search_city_uploads_path,
    id_element: '#upload_search_id' %>
  <%= f.submit '登録' %>
<% end %>


 </div>
</div>
