<div class="contents row">
  <div class="container">

    <%= render partial: "form", locals: { upload: upload } %>

<!--     <%= form_tag('/uploads', method: :post) do %>
      <h3>
        投稿する
      </h3>
      <input placeholder="Image Url" type="text" name="image">

      <textarea cols="30" name="comment" placeholder="comment" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
 -->


 </div>
</div>